*.classpath
*.project
*.settings
*/target
*.class
.mvn


**/.idea/workspace.xml 
**/.idea/tasks.xml

crud-aws-mssql/src/main/resources/application\.properties

crud-aws-mssql/src/main/resources/application-mssql\.properties

crud-aws-mssql/src/main/resources/application-postgres.properties

crud-aws-mssql/src/main/resources/application-mysql.properties

crud-aws-mssql/src/main/resources/application-mysql.yml

crud-aws-mssql/src/main/resources/application-mysql.properties

crud-aws-mssql/src/main/resources/application-mssql.yml

crud-aws-mssql/src/main/resources/application-maria.yml
